<div class="bg-prime">
  <div class="footer position-relative home-cont">
    <!-- <div class="offer">
                <div class=" pt-md-4  bg-black  rounded-md">
                    <div class="  ps-4  ">
                        <p class="text-white">
                            STAY UPTO DATE ABOUT OUR LATEST OFFERS

                        </p>
                    </div>
                    <div class=" text-center pt-3 position-relative">
                        <i class="fa-regular fa-envelope"></i><input type="email"
                            class="  rounded-pill py-2 email border-0 ps-5  text-secondary "
                            placeholder="Enetr your email ">

                        <input type="button"
                            class="rounded-pill  border-0 hoverb bg-white text-center py-2 mt-4 mb-4 subtbn  text-dark  font2 "
                            value="Subscribe to Newsletter">
                    </div>
                </div>
            </div> -->
    <!-- style=" padding: 0px 0px 0px 2.2%; -->
    <div class="header-container">
      <div style="padding-top: 2.7%">
        <div
          class="d-flex justify-content-between flex-wrap ps-0 pt-3 pb-2 p-md-0"
        >
          <div class="company1">
            <p class="h2 font1 fw-bold text-black">SHOP.CO</p>
            <p class="text-secondary font3 mt-md-3 m-0">
              We have clothes that suits your style and which you’re proud to
              wear. From women to men.
            </p>
            <div class="foot-icon d-md-flex">
              <a href="https://www.facebook.com/login.php/">
                <i
                  class="fa-brands fa-facebook text-black bg-white py-2 px-2 rounded-pill text-decoration-none mx-auto"
                ></i
              ></a>
              <a href=""
                ><i
                  class="fa-brands fa-square-instagram text-black bg-white py-2 px-2 rounded-pill text-decoration-none mx-auto"
                ></i
              ></a>
              <a href="https://twitter.com/login"
                ><i
                  class="fa-brands fa-x-twitter text-black bg-white py-2 px-2 rounded-pill text-decoration-none mx-auto"
                ></i
              ></a>

              <a href="https://www.linkedin.com/login"
                ><i
                  class="fa-brands fa-github text-black bg-white py-2 px-2 rounded-pill text-decoration-none mx-auto"
                ></i
              ></a>
            </div>
          </div>
          <div class="company">
            <p class="h6 font3 text-black">COMPANY</p>
            <p class="">
              <a href="#" class="text-decoration-none text-secondary font3">
                About</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Features</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Works</a
              >
            </p>

            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Career</a
              >
            </p>
          </div>
          <div class="company hidden">
            <p class="h6 font3 text-black">HELP</p>
            <p class="">
              <a href="#" class="text-decoration-none text-secondary font3">
                Customer Support</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Delivery Details</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Terms & Conditions</a
              >
            </p>

            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Privacy Policy</a
              >
            </p>
          </div>
          <div class="company hidden">
            <p class="h6 font3 text-black">FAQ</p>
            <p class="">
              <a href="#" class="text-decoration-none text-secondary font3">
                Account
              </a>
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Manage Deliveries</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Orders</a
              >
            </p>

            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Payments</a
              >
            </p>
          </div>
          <div class="company hidden">
            <p class="h6 font3 text-black">RESOURCES</p>
            <p class="">
              <a href="#" class="text-decoration-none text-secondary font3">
                Free eBooks</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Development Tutorial</a
              >
            </p>
            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >How to - Blog</a
              >
            </p>

            <p>
              <a href="#" class="text-decoration-none text-secondary font3"
                >Youtube Playlist</a
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="mt-md-4 d-flex justify-content-between flex-wrap footer-input"
      >
        <div class="coll ps-0 text-center text-md-start">
          <input
            type="button"
            value="Subscribe NewsLetter"
            class="newsLetter"
          />
        </div>
        <div class="coll pe-0 font3 position-relative">
          <i class="fa-regular fa-envelope"></i>
          <div class="input-group flex-wrap">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your email address"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
        </div>
      </div>
      <hr style="color: gray" />
      <div
        class="container text-center mt-3 px-0 d-md-flex justify-content-end"
      >
        <!-- <p class="text-secondary fs-sm font3">Shop.co © 2000-2023, All Rights Reserved</p> -->
        <div
          class="footer-img d-flex justify-content-md-start justify-content-center"
        >
          <div>
            <img
              src="assets/visa-removebg-preview.png"
              class="img-fluid"
              style="width: 25px"
              alt=""
            />
          </div>
          <div>
            <img
              src="assets/master-removebg-preview.png"
              class="img-fluid"
              style="width: 25px"
              alt=""
            />
          </div>
          <div>
            <img
              src="assets/paypal-removebg-preview.png"
              class="img-fluid"
              style="width: 35px"
              alt=""
            />
          </div>
          <div>
            <img
              src="assets/images-removebg-preview.png"
              class="img-fluid"
              style="width: 35px"
              alt=""
            />
          </div>
          <div class="me-0">
            <img
              src="assets/gpay-removebg-preview.png"
              class="img-fluid"
              style="width: 35px"
              alt=""
            />
          </div>
        </div>
      </div>
      <div>
        <p
          class="text-center mt-3 font3 mb-0 pb-3 text-secondary rights-resevr"
        >
          <a class="text-secondary" href="#">Shop.co</a> © 2000-2023, All Rights
          Reserved
        </p>
      </div>
    </div>
  </div>
</div>
